/* .page-header--background {
  height: 652px;
  z-index: 1;

  position: absolute;
  right: 0;
  top: -45px;

  background-color: $gray;
  border-left: 100vw solid $gray;
  border-bottom: 120px solid white;
} */
.page-header--wrapper {
  width: 1030px;
  margin: 0 auto;
  z-index: 10; }

.page-header--navbar {
  margin-top: 45px; }
