.footer {
  height: 220px;
  background-color: #90d23d;
  width: 100%;
  margin-top: 60px;
}

.footer__wrapper {
  width: 430px;
  margin: 0 auto;
  padding-top: 60px;
}

.footer__social {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 290px;
  justify-content: space-between;
}

.footer__icon {
  width: 45px;
  height: 45px;
  background-color: black;

  &--facebook {
    background: url("../../img/social_fb.svg");
  }
  &--twitter {
    background: url("../../img/social_twit.svg");
  }
  &--linkedin {
    background: url("../../img/social_link.svg");
  }
  &--instagram {
    background: url("../../img/social_ig.svg");
    
  }
  &--vkontakte {
    background: url("../../img/social_vk.svg");
  }
}

.footer__copyright {
  @include text;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 32px;
}