.page-header {
  background-color: $gray;
  height: 720px;
  padding-top: 47px;
}

.page-header__wrapper {
  width: 1030px;
  margin: 0 auto;
}


.page-header__hero-shot {
  display: flex;
  flex-direction: row;
  height: 210px;
  margin-top: 133px;
  margin-left: -70px;
}

.page-header__hero {
  width: 172px;
  height: 172px;
  position: relative;
  &:nth-child(1) {
    z-index: 5;
    top: 55px;
    left: 28px;
    transform: rotate(-17deg);
    background-image: url('../../img/icon_1.svg');
  }
  &:nth-child(2) {
    z-index: 4;
    top: 36px;
    left: -28px;
    transform: rotate(8deg);
    background-image: url('../../img/icon_2.svg');
  }
  &:nth-child(3) {
    z-index: 3;
    top: 22px;
    left: -74px;
    background-image: url('../../img/icon_3.svg');
  }
  &:nth-child(4) {
    z-index: 2;
    top: 10px;
    left: -109px;
    transform: rotate(-14deg);
    background-image: url('../../img/icon_4.svg');
  }
  &:nth-child(5) {
    top: 1px;
    left: -150px;
    transform: rotate(9deg);
    background-image: url('../../img/icon_5.svg');
  }
}

.page-header__divider {
  z-index: 6;
  position: relative;
  top: -100px;
  height: 120px;
  overflow: hidden;
}
