.sponsor {
  margin-top: 178px;
  color: white;
  font-family: $roboto;
  text-align: center;
}

.sponsor__body {
  height: 425px;
  width: 100%;
  background-color: #4b4d4f;
  padding: 18px 0;
}

.sponsor__wrapper {
  width: 630px;
  margin: 0 auto;
}

.sponsor__divider {
  z-index: 1;
  position: relative;
  height: 120px;
  overflow: hidden;
}

.sponsor__title {
  font-size: 50px;
  margin-top: 21px;
  margin-bottom: 24px;
}

.sponsor__text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}

.sponsors__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.sponsors__button {
  @include button;
  margin-top: 70px;
  font-size: 18px;
}